In [2]:
# if you did successfully installed requirements pip install -r requirements.txt  you should have no error running below:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Before we get started with the Chiptole Exercise, we will create a dataframe object from arrays, lists, and even dictionaries so you can see how a dataframe can be created from various objects

#### Array --> Dataframe

In [5]:
#creating a dataframe from an array (5X3 Matrix)
#an array is lists of lists

array = np.random.rand(5,3)
array

array([[0.22154575, 0.92402444, 0.19628041],
       [0.44704423, 0.0799469 , 0.23127225],
       [0.3953232 , 0.26348311, 0.59335259],
       [0.89132309, 0.31582424, 0.24230756],
       [0.04322622, 0.73865607, 0.90129656]])

In [7]:
#adding columns to your array
columns_new = ['one','two','three']
df = pd.DataFrame(array,columns=columns_new)

df

        one       two     three
0  0.221546  0.924024  0.196280
1  0.447044  0.079947  0.231272
2  0.395323  0.263483  0.593353
3  0.891323  0.315824  0.242308
4  0.043226  0.738656  0.901297

#### Dictionary --> DataFrame

In [9]:
populations = {
    'state': ['Florida','Texas','California','North Carolina', 'Virginia'],
    'population':[30.0,28.3,39.5,10.3,8.5]
}

columns_new = ['state','population']

df2 = pd.DataFrame(populations,columns=columns_new)

In [15]:
#Lets sort the dataframe

df2.sort_values(by=['population'],ascending=False)

            state  population
2      California        39.5
0         Florida        30.0
1           Texas        28.3
3  North Carolina        10.3
4        Virginia         8.5

In [20]:
#What happened to the index? ^ Use below to resolve
df2 = df2.sort_values(by=['population'],ascending=False).reset_index(drop=True)

df2

            state  population
0      California        39.5
1         Florida        30.0
2           Texas        28.3
3  North Carolina        10.3
4        Virginia         8.5

#### Now your turn with a List --> DataFrame, remeber to use shift tab when looking at pd.Dataframe()

In [22]:
states_population = [['California',39.5],['Texas',28.3],['Florida',30.0],['North Carolina',10.3],
                    ['Virginia',8.5]]

In [24]:
pd.DataFrame(states_population,columns=columns_new).sort_values(by=['population'],ascending=False).reset_index(drop=True)

            state  population
0      California        39.5
1         Florida        30.0
2           Texas        28.3
3  North Carolina        10.3
4        Virginia         8.5

## Now that you know how to create a Dataframe (Congrats!) let's see how we can manipulate a dataframe